<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" class="reply-form" method="post" th:style="'display: none;'">
  <input type="hidden" name="parentId">
  <div class="reply-form__container">
    <div class="reply-form__info">
      <div class="reply-form__user-info">
        <input type="text" name="" id="replyWriter" class="reply-form-user-input" disabled>
      </div>
    </div>
    <div class="reply-form-textarea-wrapper">
      <textarea class="reply-form-textarea" name="content" maxlength="8000" required="required" tabindex="108" placeholder="" style="height: 99.5px;outline: none;"></textarea>
      <div class="reply-form__submit-button-wrapper">
        <button class="reply-form__submit-button" type="submit" id="replyFormButton316123460" tabindex="109">작성</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>