<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="multiLevelComments" th:if="${comments.size() >0}" th:class="'comment-wrapper'">
    <div class="comment-wrapper" th:each="comment : ${comments}">
        <div class="comment-item" th:id="'c_'+${comment.id}">
            <div class="content">
                <div class="info-row clearfix">
                <span class="user-info">
                    <span th:text="${comment.user.nickname}">nickname</span>
                </span>
                    <div class="right">
                        <time th:text="${#temporals.format(comment.createdDate, 'yy/MM/dd HH:mm:ss')}"></time>
                        <span class="sep"></span>
                        <a th:href="'javascript:void(0)'" class="reply-link" th:data-target="${comment.id}">
                            <ion-icon name="return-up-back-outline"></ion-icon>
                            답글
                        </a>
                    </div>
                </div>

                <form class="message">
                    <div class="text">
                        <pre th:text="${comment.content}">content</pre>
                    </div>
                </form>
            </div>
        </div>
        <form action="" class="reply-form" th:replace="replyForm :: .reply-form" th:with="comment=${comment}"></form>
        <div th:include="replies :: multiLevelComments" th:with="comments=${comment.replies}">

        </div>
    </div>
</div>
</body>
</html>